/* Body text */
body {
 background-color:rgb(227, 199, 203);
}

/* Call-to-action container */
 {

display:block;
color: azure;
text-align: center;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-weight: bold
}

/* Call to Action Button" */
:active:visited {
border: .5rem;
font: 1em sans-serif;
font-size: x-large;
display: 200px;
text-decoration:solid;
padding-block:;
color: aquamarine;
margin: auto;
text-align: center
;
}

/* Hover state */
:active:hover {
}

/* Click state */
a:active {

}